In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [108]:
df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\dataset\\customer_shopping_behavior.csv")

In [110]:
df.sample(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
2577,2578,52,Male,Socks,Clothing,39,Minnesota,L,Black,Fall,4.5,No,Next Day Air,No,No,37,Bank Transfer,Monthly
3870,3871,61,Female,Sandals,Footwear,46,Ohio,L,Lavender,Fall,3.2,No,Next Day Air,No,No,19,Cash,Every 3 Months
911,912,53,Male,Pants,Clothing,74,Vermont,M,Black,Winter,2.8,Yes,2-Day Shipping,Yes,Yes,2,Bank Transfer,Quarterly
2926,2927,64,Female,Handbag,Accessories,82,Maryland,M,Gray,Winter,4.8,No,2-Day Shipping,No,No,9,Cash,Weekly
1825,1826,23,Male,Boots,Footwear,75,South Dakota,M,Pink,Winter,4.9,No,Next Day Air,No,No,41,Credit Card,Weekly
31,32,33,Male,Dress,Clothing,79,West Virginia,L,Brown,Winter,4.7,Yes,Store Pickup,Yes,Yes,45,Venmo,Monthly
615,616,67,Male,Sandals,Footwear,100,Maryland,L,Olive,Summer,2.6,Yes,Next Day Air,Yes,Yes,23,Venmo,Annually
908,909,26,Male,Sunglasses,Accessories,99,New Jersey,M,Turquoise,Winter,3.6,Yes,Free Shipping,Yes,Yes,9,PayPal,Every 3 Months
583,584,25,Male,Shorts,Clothing,78,California,L,Yellow,Spring,4.0,Yes,Store Pickup,Yes,Yes,38,PayPal,Monthly
3826,3827,50,Female,Jacket,Outerwear,31,Montana,M,Gray,Summer,4.0,No,Express,No,No,25,Bank Transfer,Annually

In [112]:
df.shape

(3900, 18)

In [114]:
df.nunique()

Customer ID               3900
Age                         53
Gender                       2
Item Purchased              25
Category                     4
Purchase Amount (USD)       81
Location                    50
Size                         4
Color                       25
Season                       4
Review Rating               26
Subscription Status          2
Shipping Type                6
Discount Applied             2
Promo Code Used              2
Previous Purchases          50
Payment Method               6
Frequency of Purchases       7
dtype: int64

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [118]:
df.columns = df.columns.str.lower()

In [120]:
df.columns = df.columns.str.replace(" ","_")

In [146]:
df.rename(columns={"purchase_amount_(usd)":"purchase_amount"},inplace = True)

In [148]:
df

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,middle_aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly,adult,7
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly,middle_aged,14
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly,middle_aged,90
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,adult,7
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,middle_aged,90

In [124]:
df.isna().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount_(usd)      0
location                   0
size                       0
color                      0
season                     0
review_rating             37
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
dtype: int64

In [126]:
df['review_rating'] = df.groupby('category')['review_rating'].transform(
    lambda x: x.fillna(x.median()))

In [128]:
df.isna().sum().sum()

0

In [130]:
df.duplicated().sum()

0

In [132]:
df.describe(include = "all")

,customer_id,age,gender,item_purchased,category,purchase_amount_(usd),location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750051,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.713590,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [134]:
# Create a new column age_group
labels = ['young_adult','adult','middle_aged','senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels = labels)

In [136]:
df.sample()

,customer_id,age,gender,item_purchased,category,purchase_amount_(usd),location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
711,712,64,Male,Boots,Footwear,60,New Hampshire,M,Maroon,Spring,3.5,Yes,2-Day Shipping,Yes,Yes,13,Bank Transfer,Bi-Weekly,senior

In [140]:
# create column purchase_frequency_days

frequency_mapping = {'Fortnightly':14,
                    'Weekly':7,
                    'Monthly':30,
                    'Quarterly':90,
                    'Bi-Weekly':14,
                    'Annually':365,
                    'Every 3 Months':90}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [56]:
df[['purchase_frequency_days','frequency of purchases']].head()

   purchase_frequency_days frequency of purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually

In [142]:
df[['discount_applied','promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [150]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [152]:
df = df.drop('promo_code_used',axis=1)

In [154]:
df.sample(5)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
1829,1830,30,Male,Hat,Accessories,96,Oregon,M,White,Spring,4.9,No,2-Day Shipping,No,50,Credit Card,Quarterly,young_adult,90
1730,1731,23,Male,Shirt,Clothing,22,Alabama,S,Silver,Fall,4.2,No,Free Shipping,No,26,Credit Card,Weekly,young_adult,7
3695,3696,38,Female,Skirt,Clothing,33,Florida,M,White,Fall,4.6,No,Standard,No,18,Bank Transfer,Fortnightly,adult,14
3091,3092,68,Female,Dress,Clothing,81,Nevada,L,Orange,Winter,3.4,No,2-Day Shipping,No,46,Credit Card,Annually,senior,365
3827,3828,62,Female,Jewelry,Accessories,73,Montana,M,Red,Summer,4.1,No,Standard,No,47,Cash,Fortnightly,senior,14

In [227]:
df.to_csv("C:\\Users\\Lenovo\\Desktop\\dataset\\customer_behaviour.csv",index = False)

In [231]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [156]:
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

connection_url = URL.create(
    drivername="mysql+pymysql",
    username="root",
    password="Rjmic@27",
    host="localhost",
    database="customer_satisfaction"
)

engine = create_engine(connection_url)

df.to_sql('cleaned_customer_behavior', con=engine, if_exists='replace', index=False)

3900